<!-- find.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/header') %>
  </head>

  <body id="find">

    <div id="title">
      <h2>Find a Pet Near You</h2>
    </div>

    <section id="findbox">

      <div class="find">
        <div class="row log">

          <form class="col s12" method="GET">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">pets</i>
                <input id="animalType" type="text" name="animalType">
                <label for="animalType">Type of Animal (barnyard, bird, cat, dog, horse, reptile, smallfurry)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <input id="csz" type="text" name="csz">
                <label for="csz">Enter a City, State or Zip</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" formaction="/match" formmethod="GET">Find
              <i class="material-icons right">send</i>
            </button>
          </form>

        </div>
      </div>


    </section>


  


    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
