<!-- match.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/header') %>

  </head>

  <body id="match">

    <div id="title">
      <h2>Find your match</h2>

      <button class="btn waves-effect waves-light"><a href="/signout">Signout</a></button>
      <!-- <button class="btn waves-effect waves-light" type="submit" formaction="/signout" formmethod="GET">Signout
        <i class="material-icons right">send</i>
      </button> -->
    </div>




    <script>
      console.log('URL query: ', document.location.search);

      var queryString = document.location.search;

      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        console.log('Split on &: ', vars);

        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
          console.log('Split into key/value: ', pair);
          if(pair[0] == variable){
            return pair[1];
          }
        }
      }


      let animalTypeQuery = getQueryVariable("animalType");
      console.log('URL animal value: ', animalTypeQuery);

      let cszQuery = getQueryVariable("csz");
      console.log('URL csz value: ', cszQuery);
      let cszFormatted = cszQuery.split("%2C+").join();
      console.log('Decoded?: ', cszFormatted);




      // API call
      var API_key = '39de55744f65f1be6cd197c92c98d2c5';

      document.addEventListener('DOMContentLoaded', bindButtons);

      function bindButtons(){
      	// document.getElementById('submitSearch').addEventListener('click', function(event){
      	// 	event.preventDefault();

      		var animalTypeFinal = animalTypeQuery; // get type of animal from the form
          console.log('Animal type entered in form: ', animalTypeFinal);
          console.log(typeof animalTypeFinal);

          var cszFinal = cszFormatted; // get city, state or zip from the form
          console.log('City, State or Zip entered in form: ', cszFinal);
          console.log(typeof cszFinal);

      		// var url = 'https://api.petfinder.com/pet.getRandom';
      		var url = 'https://api.petfinder.com/pet.find';

      		$.ajax({
      			url: url,
      			jsonp: "callback",
      			dataType: "jsonp",
      			data: {
      				key: API_key,
      				'animal': animalTypeFinal,
      				'location': cszFinal,
              count: 25,
      				output: 'basic',
      				format: 'json'
      			},

      			success: function(response) {
              console.log('URL sent to server: ', this.url);
      				console.log('Response from API: ', response);

              // Array of pets
              var pets = response.petfinder.pets;
              console.log('This is the array of pets: ', pets);
              console.log('Length of the pets array: ', pets.pet.length);

              let searchedPets = $();
              // Loop through array pf pets
              for (var i = 0; i < pets.pet.length; i++) {
                // console.log('In the loop');
                console.log(pets.pet[i]);


        				var img = response.petfinder.pets.pet[i].media.photos.photo[0].$t;
                var dogName = response.petfinder.pets.pet[i].name.$t;
        				var id = response.petfinder.pets.pet[i].id.$t;

                // Loop through breeds to show multiple breeds or single breed
                if (Array.isArray(response.petfinder.pets.pet[i].breeds.breed)) {
                  for (var j = 0; j < pets.pet[i].breeds.breed.length; j++) {
                    var breed1 = response.petfinder.pets.pet[i].breeds.breed[0].$t;
                    var breed2 = response.petfinder.pets.pet[i].breeds.breed[1].$t;
                    var breed = 'Breed: ' + breed1 + ' & ' + breed2;
                    console.log('Multiple breeds: ', breed);
                  }
                } else {
                  var breed = 'Breed: ' + response.petfinder.pets.pet[i].breeds.breed.$t;
                  console.log('Single breed: ', breed);
                }

                var age = response.petfinder.pets.pet[i].age.$t;
                var sex = response.petfinder.pets.pet[i].sex.$t;
                var description = response.petfinder.pets.pet[i].description.$t;
                if (response.petfinder.pets.pet[i].contact.phone.$t == undefined) {
                  var contactPhone = 'not provided';
                } else {
                  var contactPhone = response.petfinder.pets.pet[i].contact.phone.$t;
                }
                var contactEmail = response.petfinder.pets.pet[i].contact.email.$t;


                // Create new elements
                var newDiv = document.createElement('div');

                var newImg = document.createElement('img');
        				newImg.src = img;

        				var newName = document.createElement('h4');
        				newName.textContent = dogName;

                var newBreed = document.createElement('h5');
                newBreed.textContent = breed;

                var newAge = document.createElement('h6');
                newAge.textContent = 'Age: ' + age;

                var newSex = document.createElement('h6');
                newSex.textContent = 'Sex: ' + sex;

                var newDescription = document.createElement('h6');
                newDescription.textContent = 'Description: ' + description;

                var newContact = document.createElement('h6');
                newContact.textContent = 'Contact:';

                var newContactPhone = document.createElement('h6');
                newContactPhone.textContent = 'Phone: ' + contactPhone;

                var newContactEmail = document.createElement('h6');
                newContactEmail.textContent = 'Email: ' + contactEmail;


                // Append new elements to page
        				var list = document.createElement("ul");
        				list.setAttribute("id", "List");
        				document.body.appendChild(list);

        				list.appendChild(newDiv);
        				list.appendChild(newImg);
                list.appendChild(newName);
        				list.appendChild(newBreed);
        				list.appendChild(newAge);
        				list.appendChild(newSex);
        				list.appendChild(newDescription);
        				list.appendChild(newContact);
        				list.appendChild(newContactPhone);
        				list.appendChild(newContactEmail);

              }

      			}
      		});
      	// })

      }
    </script>



    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
