<!-- match.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/header') %>

  </head>

  <body id="detail">

    <div id="detailTitle">
      <h2>Pet Details</h2>

      <button class="btn waves-effect waves-light"><a href="/signout">Signout</a></button>

      <div class="selectedPet">

      </div>

    </div>








    <!-- footer tags -->
    <%- include('partials/footer') %>
  </body>

</html>
