/*
=========================
Home page
=========================
*/

#home {
  background: linear-gradient(yellow, orange);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 145%;
  background-position: top;
  text-align: center;
  margin-top: 65px;
}

#titleHome h2 {
  font-family: 'Yellowtail';
  font-size: 80px;
  margin-left: -21px;
}

.row .col.s12.signbox {
  margin-bottom: 30px;
}

#continuebox {
  margin-top: 30px;
}



/*
=========================
Find page
=========================
*/

#find {
  background-image: url("dogSmall.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 133%;
  background-position: top;
}

#titleFind h2 {
  color: #fff;
  margin-top: 191px;
  font-size: 35px;
  text-align: center;
}

.row .col.s12 {
  margin: auto;
}

.input-field.findTop {
  background-color: #fff;
  border-radius: 5px;
}

#animalType {
  height: 62px;
}

.input-field.find {
  background-color: #fff;
  border-radius: 5px;
}

.btn {
  background-color: orange;
}

button.btn.waves-effect.waves-light {
  margin: auto;
  display: block;
}

a {
  color: #fff;
  letter-spacing: .5px;
}

.input-field .prefix {
  margin-top: 13px;
}



/*
=========================
Match page
=========================
*/

#match {
  background: linear-gradient(yellow, orange);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 300%;
  background-position: top;
  text-align: center;
}

#titleMatch {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}
