

/*
=========================
Find page
=========================

*/

a {
  color: #fff;
  letter-spacing: .5px;
}



/*
=========================
Match page
=========================
*/

img {
  height: 100%;
  width: 100%;
}
